<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompressMate</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body onload="initializePage()">

<div id="calculator-icon" class="calculator-icon" onclick="toggleCalculatorVisibility()">
    <img src="/home/andres/Escritorio/CompressMate/calculator.png" alt="Calculadora">
    <p id="calculator-message">Calcule el tamaño de sus archivos para comprimirlos</p>
</div>

    <div class="calculator">
        <h3>Calculadora de Tamaño de Archivos</h3>
        
        <label for="input_value">Ingresa tamaño:</label>
        <input type="number" id="input_value" name="input_value" min="0" step="any">
        <label for="input_unit">Unidad:</label>
        <select id="input_unit" name="input_unit">
            <option value="bytes">Bytes</option>
            <option value="kb">Kilobytes (KB)</option>
            <option value="mb">Megabytes (MB)</option>
            <option value="gb">Gigabytes (GB)</option>
        </select>
 
        <button type="button" onclick="convertBytes()">Calcular</button>
        <div id="conversion_result">Introduce un valor para ver la conversión.</div>
    </div>

    <h1>CompressMate</h1>
    <form action="/" method="post" enctype="multipart/form-data">
            <label for="file" class="custom-file-upload">
                <input type="file" id="file" name="file" onchange="updateFileName()">
                <span id="file-name">Seleccionar archivo</span>
            </label>

            <label for="action_type">Selecciona una acción:</label>
            <select id="action_type" name="action_type" onchange="handleActionChange()">
                <option value="compress">Comprimir</option>
                <option value="convert">Convertir</option>
            </select>

            <div id="compress_options" class="hidden">
                <label for="file_type">Tipo de archivo para compresión:</label>
                <select id="file_type" name="file_type" onchange="toggleCompressOptions()">
                    <option value="imagen">Imagen</option>
                    <option value="pdf">PDF</option>
                    <option value="docx">DOCX</option>
                    <option value="pptx">PPTX</option>
                    <option value="xlsx">XLSX</option>
                    <option value="video">Video</option>
                </select>

                <div id="image_quality" class="hidden">
                    <label for="target_size_bytes">Tamaño objetivo de compresión (en bytes):</label>
                    <input type="number" id="target_size_bytes" name="target_size_bytes" min="1" value="50000">
                </div>

                <div id="compression_quality" class="hidden">
                    <label for="quality_kb">Calidad de compresión (en bytes):</label>
                    <input type="number" id="quality_kb" name="quality_kb" min="1" value="100000">
                </div>

                <div id="bitrate" class="hidden">
                    <label for="bitrate">Bitrate (en kbps):</label>
                    <input type="number" id="bitrate" name="bitrate" value="500">
                </div>
            </div>

            <div id="convert_options" class="hidden">
                <label for="file_type_convert">Tipo de archivo para conversión:</label>
                <select id="file_type_convert" name="file_type_convert" onchange="updateOutputFormats()">
                    <option value="imagen">Imagen</option>
                    <option value="pdf">PDF</option>
                    <option value="docx">DOCX</option>
                    <option value="pptx">PPTX</option>
                    <option value="xlsx">XLSX</option>
                    <option value="video">Video</option>
                </select>

                <label for="output_format">Formato de salida:</label>
                <select id="output_format" name="output_format">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <button type="submit">Procesar
              <span id="button-text">Procesar</span>
              <div id="spinner" class="spinner hidden"></div>
            </button>
        </form>
     
      <script src="scripts.js"></script>

    <footer>
        <div class="left">
           Copyright IP-SOLUTIONS © 2024 CompressMate
        </div>
        <div class="right">
            Este proyecto es desarrollado por la empresa <a href="https://ip-solutions.azurewebsites.net" target="_blank" rel="noopener noreferrer">Ip-Solutions</a>
    </footer>
</body>
</html>

